* {
   margin: 0;
   padding: 0;
   /* box-sizing: border-box; */
 }
 /* #center{
  display: flex;
  justify-content: center;
  align-items: center;

 } */
.img1{
  width: 2%;
  height: 10%;
}