* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(216, 215, 213);
}

.navbar {
  width: 250px;
  height: 1000vh;
  /* height: auto; */
  position: fixed;
  margin-left: -300px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

.nav-link {
  font-size: 1.25em;
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
  background-color: #ffffff26;
}

.dropdown-menu {
  background-color: #b7a0da;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

/* for navbar */

.active-nav {
  margin-left: 0;
}

/* for main section */

.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: #ffffff1a;
  backdrop-filter: blur(30px);
  border: 2px solid #ffffff30;
  box-shadow: 0 0 10px #0000002a;
  color: #ffffff;
}

#menu-btn:focus {
  box-shadow: 0 0 0 0.25rem #c1c0c244;
}


.display-5 {
  color: rgb(154, 177, 248);
}

.nav-link {
  color: rgb(174, 193, 250);
}

/* New */

#testbox2 {
  text-align: center;
  /* align-items:center; */
  height: 60vh;
  background-color: #ffffff40;
  backdrop-filter: blur(20px);
  border: 2px solid #aaaaaa30;
  border-radius: 15px;
  /* position:relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#testbox3 {
  height: 60vh;
  background-color: #ffffff40;
  backdrop-filter: blur(20px);
  border: 2px solid #ffffff30;
  border-radius: 10px;
  position: relative;
}

#temp1 {
  text-align: center;
  background-color:#F6F7FD;
  width:95%;
  height: 50px;
  margin-left:2%;
  margin-bottom:2%;
  border: 2px solid #ffffff30;
  border-radius: 10px;
}

#set1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#show1 {
  width: 100%;
  height: 100%;
}

#show2 {
  text-align: center;
  max-width: 100%;
  margin-bottom:5%;


}