* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* body {
  background-color: rgb(235, 235, 235);
} */

/* New */

#testbox2 {
  text-align: center;
  /* align-items:center; */
  height: 60vh;
  background-color: #ffffff;
  backdrop-filter: blur(20px);
  border: 2px solid #ffffffee;
  border-radius: 15px;
  /* position:relative; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#testbox3 {
  height: 60vh;
  background-color: #ffffff;
  backdrop-filter: blur(20px);
  border: 2px solid #ffffffee;
  border-radius: 12px;
  position: relative;
}

#temp1 {
  text-align: center;
  background-color:#830bfb;
  width: 100px;
  height: 55px;
  margin-bottom:2%;
  border: 2px solid #720bd8;
  border-radius: 10px;
  color: aliceblue;

}

#set1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#show1 {
  width: 100%;
  height: 100%;
}

#show2 {
  text-align: center;
  max-width: 100%;
  margin-bottom:5%;
  background-color: #ffffff;
  backdrop-filter: blur(20px);
  border: 2px solid #ffffffee;
  border-radius: 15px;
}
img{
  width: 10%;
  margin-right: 10%;
}

/* #F6F7FD
#ACAFE8
#1E0BFB
#C9B7DC
#9899AA
#363642
#6354CC
#AA5BC2 */